# Virtual Environment
.venv/

# Environment Variables
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Streamlit
.streamlit/secrets.toml

# Database
*.db
*.sqlite3

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Logs
logs/*.log

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# JetBrains
.idea/